 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,100;1,400;1,500;1,700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
#css{
  font-variant: small-caps;
  font-weight: bolder;
  font-style: oblique;
}
p{
  font-size: 15px;
}
